* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* BASE */

html,
body {
    height: 100%;
    font-family: 'Space Grotesk', sans-serif;
    background: radial-gradient(circle at 20% 30%, #5a1c9c, #21003f);
    color: white;
}

/* SECCIONES */

main {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    position: relative;
    z-index: 2;
}

section {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
    text-align: center;
}

/* TIPOGRAFÍA */

.tech-title {
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: 2px;
}

.code-style {
    font-family: 'JetBrains Mono', monospace;
}

body,
button,
input,
textarea,
select,
p,
span,
li,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Space Grotesk', sans-serif;
}