* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  font-family: 'Inter', sans-serif;
  background: radial-gradient(circle at 20% 30%, #5a1c9c, #21003f);
  color: white;
  overflow-x: hidden;
}

main {
  position: relative;
  z-index: 2;
}

/* SECCIONES A PANTALLA COMPLETA */

section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px;
}

/* TITULOS FUTURISTAS */

.tech-title {
  font-family: 'Space Grotesk', sans-serif;
  letter-spacing: 2px;
}

/* ESTILO CODIGO */

.code-style {
  font-family: 'JetBrains Mono', monospace;
  color: #00ffd5;
}

/* CURSOR TERMINAL */

.cursor {
  display: inline-block;
  width: 10px;
  background: #00ffd5;
  margin-left: 5px;
  animation: blink 1s infinite;
}

@keyframes blink {

  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

/* EFECTO GLOW TECNOLOGICO */

.glow-text {
  text-shadow:
    0 0 5px #00ffd5,
    0 0 10px #00ffd5,
    0 0 20px #00ffd5;
}